input, ul.submenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

label {
  background-color: #ec0e0e;
  color: white;
  padding: 18px;
  font-size: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}

label:hover {
  background-color: #df53a4;
}

#dropdown-title {
  color: rgb(122, 117, 117);
}

ul.submenu a{
  color: black;
  padding-bottom: 10px;
  font-size: 25;
  text-decoration: none;
  display: block;
}

ul.submenu a:hover {
  background-color: #ddd
}

input:checked~ul.submenu {
  display: block;
}